body{
    background-image: url("./assets/download.jpg");
    background-size: auto;
    overflow: hidden;
    min-height: 100vh;
    cursor: url('./assets/petiteepee.png'), auto;
}
.bubble{
    position: absolute;
    animation: anim 8s;
    filter: hue-rotate(0deg);
    rotate: -60deg;
}

.bubble, h3, h1, h2{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@keyframes anim {
    to{
        top: -250px;
        left: var(--left);
        filter: hue-rotate(720deg);
    }
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
h3, h1, h2{
    font-size: 50px;
    color: white;
    margin-top: 10px;
}