body{
    background-image: url("./assets/download.jpg");
    background-size: auto;
    overflow: hidden;
    min-height: 100vh;
    cursor: crosshair;
}
.bubble{
    position: absolute;
    animation: anim 8s;
    filter: hue-rotate(0deg);
    rotate: -60deg;
    
}

@keyframes anim {
    to{
        top: -250px;
        left: var(--left);
        filter: hue-rotate(720deg);
    }
}

h3{
    font-size: 50px;
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
    color: white;
}